<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.happygoatstudios.aardwolf"
    android:sharedUserId="com.blowtorchaard.user"
    android:versionCode="250"
    android:versionName="2.1.0">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/aard_icon"
        android:label="Aardwolf RPG"
        android:theme="@style/Theme.AppCompat.Dark.NoActionBar"
        tools:replace="android:theme,android:label">

        <meta-data
            android:name="BLOWTORCH_LUA_LIBS_VERSION"
            android:value="83" />

        <activity
            android:name="com.happygoatstudios.aardwolf.AardLauncher"
            android:label="Aardwolf RPG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.offsetnull.bt.launcher.Launcher"
            android:label="Aardwolf RPG" />
        <!-- android:windowSoftInputMode="adjustResize" -->
        <activity
            android:name="com.offsetnull.bt.window.MainWindow"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:label="Aardwolf RPG"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:replace="android:label">
            <intent-filter>
                <action android:name="com.offsetnull.bt.window.MainWindow.AARDWOLF_CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.offsetnull.bt.service.StellarService"
            android:exported="false"
            android:process=":stellar_aardwolf"
            tools:replace="process">
            <intent-filter>

                <action android:name="com.happygoatstudios.bt.service.IStellarService.AARDWOLF_CLIENT" />
            </intent-filter>
        </service>


    </application>
</manifest>
